<div class="row my-3">
  <div class="col-md-6 col-xs-12 col-sm-12 left_col">
    <h1 class="title">
      Grow your business with
      <strong className="name">Resto</strong>.
    </h1>
    <h3 class="desc">We are team of talented Web Developer & Desginer.</h3>
    <a routerLink="https://wazir-tech.netlify.app/"  class="btn btn-outline-dark mt-4">Get Started</a>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12 right_col">
    <img
      src="https://wazir-tech.netlify.app/images/programmer.gif"
      alt="myPic"
      class="img-fluid animated"
    />
    <!-- <iframe src="https://wazir-tech.netlify.app/" class="iFrame"></iframe>  -->
  </div>
</div>
